<!-- The sidebar -->
<div style="width:15%;" class="sidebar fixed">
    <a class="active" [routerLink]="['/userlist']" routerLinkActive="router-link-active" >Users</a>
    <a [routerLink]="['/albumlist']" routerLinkActive="router-link-active" >Albums</a>
    
  </div>
  
  <!-- Page content -->
  <div class="content">
    
    
  </div>