
<div class="sidebar fixed">
  <a [routerLink]="['/userlist']" routerLinkActive="router-link-active" >Users</a>
  <a  class="active"  [routerLink]="['/albumlist']" routerLinkActive="router-link-active" >Albums</a>
  
</div>

<!-- Page content -->
<div class="content">
  


  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      
      <div class="form-group">
        <label for="">song</label>
      <input (change)="onSelectImage($event)" type="file" class="form-control">
      </div>

      <div class="form-group">
          <button (click)="onAdd()" class="btn btn-success">Add</button>
          <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
      </div>
    </div>
  </div> 
  
</div>