<div style="width:15%;" class="sidebar fixed ">
  <a class="active" [routerLink]="['/userlist']" routerLinkActive="router-link-active" >Users</a>
  <a [routerLink]="['/albumlist']" routerLinkActive="router-link-active" >Albums</a>
  
</div>

<div style="overflow-x:auto;margin-left: 20%">
  <table class=" table table-hover table-responsive " style="align-items: center;">
      <thead>
          <tr>
              <th></th>
            <th>User Id</th>
            <th>Email</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Role</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
    <tr *ngFor="let user of userlist" >
      <td><img style="width: 30px;height: 30px;" src="/src/assets/img_avatar2.png" alt=""> </td>
     <td> {{user.userId}}</td>
     <td> {{user.email}}</td>
     <td> {{user.fname}}</td>
     <td> {{user.lname}}</td>
     <td> {{user.role}}</td>
     <td> <button type="button" class="btn btn-danger glyphicon glyphicon-trash" (click)="deleteuser(user.userId) " ></button> </td>

    </tr></tbody>
  </table>
</div>