<!-- The sidebar -->
<div class="sidebar fixed">
  <a  [routerLink]="['/userlist']" routerLinkActive="router-link-active" >Users</a>
  <a class="active" [routerLink]="['/albumlist']" routerLinkActive="router-link-active" >Albums</a>
  
</div>


<div class="content" style="margin-left: 20%">
  

  
<div style="overflow-x:auto;">
  <button type="button" class="btn btn-outline-dark " [routerLink]="['/addalbum']" routerLinkActive="router-link-active"  >Add Album</button> 
  <table class=" table table-hover table-responsive-md " style="align-items: flex-end">
      <thead>
          <tr>
            <th>Album Id</th>
            <th>Album name</th>
            
            <th>Number Of tracks</th>
            <th>Release date</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
    <tr *ngFor="let album of albumlist" >
     <td> {{album.albumId}}</td>
     <td> {{album.albumName}}</td>
     <td> {{album.numOfTracks}}</td>
     <td> {{album.releaseDate}}</td>
     
     <td> <button  type="button" class="btn btn-danger" (click)="editalbum(album.albumId) " >Details</button> </td>

    </tr></tbody>
  </table>
</div>
</div>