
<div style="width:15%;" class="sidebar fixed">
  <a  [routerLink]="['/userlist']" routerLinkActive="router-link-active" >Users</a>
  <a class="active" [routerLink]="['/albumlist']" routerLinkActive="router-link-active" >Albums</a>
  
</div>

<div style="overflow-x:auto;margin-left: 20%">
<img src="data:image/png;base64,{{al.image}}" alt="" srcset="">
   <table class=" table table-hover " style="align-items: center;">
      <thead>
          <tr>
            <th>Song Id</th>
            <th>Song Name</th>
            <th>Song lenth</th>
            
            <th></th>
          </tr>
        </thead>
        <tbody>
    <tr *ngFor="let song of songs" >
     <td> {{song.songId}}</td>
     <td> {{song.songName}}</td>
     <td> {{song.songlength}}</td>
     <td><button (click)="play()" type="button" class="btn btn-primary glyphicon glyphicon-play-circle" >Play</button> </td>
    
     <!-- <td> <button type="button" class="btn btn-danger glyphicon glyphicon-trash" (click)="deleteuser(user.userId) " ></button> </td> -->

    </tr></tbody>
  </table>
   <button (click)="addsong()" type="button" class="btn btn-primary" >Add Song</button> 
  
  
</div>