
  

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <form class="navbar-form navbar-left" action="/action_page.php">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-btn">
          <button  class="btn btn-default" type="submit">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
       
      </div>
    </form>
    <button id="loginbtn" style="margin-left: 20px; margin-top: 7px" type="button" class="btn btn-success" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</button>
    <button id="signupbtn" style="margin-left: 20px; margin-top: 7px" type="button" class="btn btn-success" [routerLink]="['/register']" routerLinkActive="router-link-active" >Signup</button>
    <button id="logoutbtn" style="display: none;margin-left: 28px; margin-top: 7px" type="button" class="btn btn-success" (click)="logout()" >Signout</button>
    <i class="fa fa-sign-out" aria-hidden="true"></i>
  </div>
</nav>