<!-- <h1>Signup</h1>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">First Name</label>
      <input [(ngModel)]="fname" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Last Name</label>
      <input [(ngModel)]="lname" type="text" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="confirmPassword" type="password" class="form-control">
    </div>
    <div class="form-group">
        <button (click)="onSignup()" class="btn btn-success">Sign Up</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
    </div>
  </div>
</div> -->


<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="/image/icons8-administrator-male-100.png" style="width: 100px ;" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
      <input [(ngModel)]="fname" type="text" id="signup" class="fadeIn second" name="uname" placeholder="First Name">
      <input [(ngModel)]="lname" type="text" id="signup" class="fadeIn second" name="uname" placeholder="Last Name">
      <input [(ngModel)]="email" type="text" id="signup" class="fadeIn second" name="email" placeholder="E-mail">
      <input  [(ngModel)]="password" type="text" id="password" class="fadeIn third" name="signup" placeholder="Password">
      <input  [(ngModel)]="confirmPassword" type="text" id="password2" class="fadeIn third" name="signup" placeholder="Confirm Password">
      <input  (click)="onSignup()" type="submit" class="fadeIn fourth" value="Sign Up">

    </form>

    <!-- Remind Passowrd -->
    

  </div>
</div>


