
<div class="sidebar fixed">
  <a [routerLink]="['/userlist']" routerLinkActive="router-link-active" >Users</a>
  <a  class="active"  [routerLink]="['/albumlist']" routerLinkActive="router-link-active" >Albums</a>
  
</div>

<!-- Page content -->
<div class="content">
  


  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div id="div" class="form-group">
        <label for="">albumId</label>
        <input [(ngModel)]="albumId" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">albumName</label>
        <input [(ngModel)]="albumName" type="text" class="form-control">
      </div>
      <div class="form-group">
        <label for="">releaseDate</label>
        <input [(ngModel)]="releaseDate" type="date" class="form-control">
      </div>
      <div class="form-group">
        <label for="">numOfTracks</label>
        <input [(ngModel)]="numOfTracks"  type="number" class="form-control">
      </div>



      <div class="form-group">
        <label for="">Image</label>
      <input (change)="onSelectImage($event)" type="file" class="form-control">
      </div>
      <div  class="form-group">
        <label for="">Song</label>
      <input (change)="onSelectSong($event)" type="file" class="form-control">
      </div>

      

       <div class="form-group">
          <button (click)="onAdd()" class="btn btn-success">Add</button>
          <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
      </div>
    </div>
  </div> 
  
</div>