<div class="container">
 
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="src/assets/audio-cassette-cassette-tape-1626481 (2).jpg" alt="Los Angeles" style="width:100%; height: 200px">
      </div>

      <div class="item ">
        <img src="src/assets/blur-classic-close-up-371836.jpg" alt="Chicago" style="width:100%;height: 200px">
      </div>
    
     
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<br>


<div style="position: absolute;margin-left: 20%">
<table >

  <tr >
    &nbsp;
      <td><button class="w3-button w3-display-left" (click)=plusDivs(-1)>&#10094;</button></td>&nbsp;&nbsp;
      <td><img style="width:200px;height:200px" class="mySlides img-rounded  img-thumbnail " src="src/assets/audio-black-and-white-black-and-white-6966.jpg"></td> &nbsp;&nbsp;
      <td><img  style="width:200px;height:200px;" class="mySlides img-rounded img-thumbnail" src="src/assets/audio-cassette-cassette-tape-1626481 (2).jpg"></td>&nbsp;&nbsp;
      <td><img  style="width:200px;height:200px;" class="mySlides img-rounded img-thumbnail" src="src/assets/blur-classic-close-up-371836.jpg"></td>&nbsp;&nbsp;

      <td><img  style="width:200px;height:200px;display: none" class="mySlides img-rounded img-thumbnail " src="src/assets/audio-black-and-white-black-and-white-6966.jpg"></td>&nbsp;&nbsp;
      <td><img  style="width:200px;height:200px;display: none" class="mySlides img-rounded img-thumbnail" src="src/assets/audio-cassette-cassette-tape-1626481 (2).jpg"></td>&nbsp;&nbsp;
      <td><img  style="width:200px;height:200px;display: none" class="mySlides img-rounded img-thumbnail" src="src/assets/blur-classic-close-up-371836.jpg"></td>&nbsp;&nbsp;
      <td><button class="w3-button w3-display-right" (click)=plusDivs(+1)>&#10095;</button></td>

  </tr>
</table>


</div>
  
