<!-- <h1>Login</h1>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="">Email</label>
      <input [(ngModel)]="email" type="email" class="form-control">
    </div>
    <div class="form-group">
      <label for="">Password</label>
      <input [(ngModel)]="password" type="password" class="form-control">
    </div>
    <div class="form-group">
       
        <button (click)="onLogin()" class="btn btn-success">Login</button>
        <button (click)="onCancel()" class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
        
    </div>
  </div>
</div>  -->







<div class="container" style="margin-top: 10px">
  <div class="wrapper fadeInDown">
      <div id="formContent" >
        <!-- Tabs Titles -->
          
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="/image/icons8-administrator-male-100.png" style="width: 100px ;" id="icon" alt="User Icon" />
        </div>
        
        <!-- Login Form -->
        <form>
          <input  [(ngModel)]="email" type="text" id="login" class="fadeIn second" name="login" placeholder="Login">
          <input [(ngModel)]="password" type="text" id="password" class="fadeIn third" name="login" placeholder="Password">
          <input (click)="onLogin()" type="submit"  class="fadeIn fourth " value="Log In">
        </form>
      
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
      </div>
    </div>

  </div>


