<nav style="height: 70px;" class="navbar navbar-fixed-bottom navbar-inverse ">
  <table><tr>
    <td>
      <div class="container-fluid">
        <button style="position: absolute;margin-left: 24%;margin-top: 6px;height: 50px;" type="button" class="btn btn-outline-light text-dark glyphicon glyphicon-fast-backward"></button>
      </div>
    </td>
<td style="position: absolute;margin-left: 25%">
  <div class="container-fluid">
   
    <audio id="player" src="data:audio/mpeg;base64,{{song}}"  style="position: relative; margin-top: 7px" controls autoplay>

      <source  type="audio/mpeg">

    </audio> 
     
     
      


    
  </div></td>
<td style="position: absolute;margin-left: 48%">

    <div class="container-fluid">
        <button style="position: absolute;margin-left: 23%;margin-top: 6px;height: 50px;" type="button" class="btn btn-outline-light text-dark glyphicon glyphicon-fast-forward"></button>
      </div>

</td>





</tr>
</table>
</nav>